<header>
    <div class="logo-container">
        <svg class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Laag_1" x="0px" y="0px" viewBox="0 0 124 20" width="248" height="40" style="enable-background:new 0 0 124 20;" xml:space="preserve">
            <style type="text/css">
                .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
            </style>
            <path id="Combined-Shape" class="st0" d="M19.1,6.3c3.8,0,6.7,2.8,6.7,6.8S23,20,19.1,20s-6.7-2.8-6.7-6.8S15.3,6.3,19.1,6.3z   M47.9,6.3c3.6,0,6.3,2.2,6.6,5.5l0,0h-3.3c-0.2-1.7-1.6-2.6-3.3-2.6c-2,0-3.4,1.6-3.4,3.9s1.5,3.9,3.4,3.9c1.7,0,3.1-1,3.3-2.9l0,0  h3.3c-0.2,3.5-2.9,5.8-6.6,5.8c-3.8,0-6.6-2.8-6.6-6.8S44.1,6.3,47.9,6.3z M99.4,0l0,3.3l0,0v9.9c0,2.4,1.5,3.9,3.6,3.9  c2,0,3.6-1.6,3.6-3.9S105,9.2,103,9.2c-0.4,0-0.8,0.1-1.1,0.2l0-2.8c0.5-0.1,1-0.2,1.5-0.2c3.6,0,6.3,2.8,6.3,6.8S107,20,103.4,20  c-1.6,0-2.9-0.7-3.9-1.9l0,0v1.7h-3.2V0H99.4z M117.2,6.3c3.8,0,6.5,2.8,6.5,6.8c0,0.4,0,0.7-0.1,1.1l0,0h-9.9c0.3,1.9,1.6,3,3.6,3  c1.4,0,2.2-0.5,2.6-1.4l0,0h3.4c-0.8,2.7-3.1,4.2-6.2,4.2c-3.8,0-6.5-2.8-6.5-6.8S113.5,6.3,117.2,6.3z M30.8,6.6v7.2  c0,2.2,1,3.4,2.7,3.4c1.7,0,2.7-1.2,2.7-3.4l0,0V6.6h3.2v13.2h-3.2v-1.9c-0.8,1.4-2.1,2.1-3.7,2.1c-2.8,0-4.8-1.8-4.8-5.6l0,0V6.6  H30.8z M75,2.6v3.9h3.4v2.8H75v5.9c0,1.3,0.6,1.9,2,1.9c0.4,0,1-0.1,1.4-0.2l0,0v2.8c-0.5,0.2-1.3,0.3-2.1,0.3c-2.6,0-4.5-1-4.5-4.6  l0,0V9.3h-2.1V6.6h2.1V2.6H75z M9.5,5.4l0,14.4H6.3l0-14.4H9.5z M59.6,0v8.5c0.8-1.4,2.2-2.2,3.8-2.2c2.8,0,4.9,1.8,4.9,5.6l0,0v7.9  h-3.2v-7.2c0-2.2-1.1-3.4-2.8-3.4c-1.7,0-2.8,1.2-2.8,3.4l0,0v7.2h-3.2V0H59.6z M88,6.3c0.2,0,0.5,0,0.7,0.1l0,0v3.4  c-0.4-0.1-0.8-0.2-1.4-0.2c-2.3,0-3.7,1.2-3.7,3.4l0,0v6.7h-3.2V6.6h3.2v2.1C84.6,7.2,86.1,6.3,88,6.3z M93.4,6.6v13.2h-3.2V6.6  H93.4z M19.1,9.2c-2,0-3.6,1.6-3.6,3.9s1.5,3.9,3.6,3.9s3.6-1.6,3.6-3.9S21.1,9.2,19.1,9.2z M117.2,9.1c-1.8,0-3.1,1.1-3.4,2.9l0,0  h6.8C120.3,10.1,119.1,9.1,117.2,9.1z M93.4,0.4v3.2h-3.2V0.4H93.4z M0,2.9V0h15.8v2.9H0z"/>
        </svg>
        <svg class="favicon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff">
            <path fill="#fff" d="M14.4 9.6V24H9.6V9.6h4.8Zm-9.6 0v4.8H0V9.6h4.8Zm19.2 0v4.8h-4.8V9.6H24ZM24 0v4.8H0V0h24Z"></path>
        </svg>
    </div>
</header>